// Tipografia
$fonte-normal: "GandhiSansRegular";
$fonte-bold: "GandhiSansBold";
//Cores
$cor-do-texto: #ffffff;
$azul-escuro: #041833;
$azul-claro: #FFA500;
$azul-rodape: #FFA500;
$rosa: #0c2e5a;
$roxo: #f5f5f5;
$cinza-claro: #FFA500;
$tag-color: #041833;